<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件夹</title>
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/bootstrap.min.css">

</head>

<body>
    <div id="node_folder">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">文件夹</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">新建</a></li>
                        <li><a href="#">上传</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ol class="breadcrumb"> 
            <% for (let i = 0; i < breadcrumbs.length - 1; i++) { %>
                <% if (i == 0) { %>
                    <li><a href="/">全部</a></li>
                <% }else if(i == breadcrumbs.length - 2){ %>
                    <li class="active"><%= breadcrumbs[i] %></li>
                <% }else{ %>
                    <li><a href="/<%= breadcrumbs[i] %>/"><%= breadcrumbs[i] %></a></li>
                <% } %>
            <% } %>
        </ol>
        <ul id="foldList">
            <!-- <% foldLists.forEach(function(item){ %>
                <li>
                    <div style="width:50%">
                        <% if (item.isFold) { %>
                            <a href="<%= item.dir %>/"><i class="glyphicon glyphicon-folder-close"></i><%= item.foldName %></a>
                        <% }else{ %>
                            <% if (item.type == '.jpg' || item.type == '.png' || item.type == '.gif') { %>
                                <a href="/static<%= item.dir %>" target="_blank"><i class="glyphicon glyphicon-picture"></i><%= item.foldName %></a>
                            <% }else{ %>
                                <a href="/static<%= item.dir %>" target="_blank"><i class="glyphicon glyphicon-file"></i><%= item.foldName %></a>
                            <% } %>
                        <% } %>
                    </div>
                    <div style="width:20%"><%= item.date %></div>
                    <div style="width:15%"><%= item.type %></div>
                    <div style="width:15%"><%= item.size %>KB</div>
                    <div style="clear:both"></div>
                </li>
            <% }) %> -->

            <% foldLists.forEach(function(item){ %>
                <li>
                    <div style="width:50%">
                        <% if (item.isFold) { %>
                            <a href="<%= item.dir %>/"><i class="glyphicon glyphicon-folder-close"></i><%= item.foldName %></a>
                        <% }else{ %>
                            <% if (item.type == 'JPG' || item.type == 'PNG' || item.type == 'GIF') { %>
                                <a href="/static<%= item.dir %>" target="_blank"><i class="glyphicon glyphicon-picture"></i><%= item.foldName %></a>
                            <% }else{ %>
                                <a href="/static<%= item.dir %>" target="_blank"><i class="glyphicon glyphicon-file"></i><%= item.foldName %></a>
                            <% } %>
                        <% } %>
                    </div>
                    <div style="width:20%"><%= item.date %></div>
                    <% if (!item.isFold) { %>
                    <div style="width:15%"><%= item.type %></div>
                    <div style="width:15%"><%= item.size %>KB</div>
                    <% } %>
                    <div style="clear:both"></div>
                </li>
            <% }) %>
        </ul>
        <ul id="menu">
            <li>打开</li>
            <li>剪切</li>
            <li>删除</li>
            <li>复制</li>
            <li>重命名</li>
        </ul>
    </div>
    <script src="/static/common/jquery-1.11.3.min.js"></script>
    <script src="/static/common/bootstrap.min.js"></script>
<script>
document.body.oncontextmenu=function(e){
            console.log(e);
            return false
        }

</script>
</body>

</html>