<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件夹</title>
    <link rel="stylesheet" href="/static/common/common.css">
    <link rel="stylesheet" href="/static/common/bootstrap.min.css">

</head>

<body>
    <div id="node_folder">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">文件夹操作</a>
                </div>
            </div>
        </nav>
        <ol class="breadcrumb"> 
            <li><a href="/">全部</a></li>
            <% for (let i = 0; i < breadcrumbs.word.length; i++) { %>
                <% if(i == breadcrumbs.word.length-1){ %>
                    <li class="active"><%= breadcrumbs.word[i] %></li>
                <% }else{ %>
                    <li><a href="<%= breadcrumbs.path[i] %>/"><%= breadcrumbs.word[i] %></a></li>
                <% } %>
            <% } %>
        </ol>
        <ul id="foldList">
            <% foldLists.forEach(function(item){ %>
                <!-- <li> -->
                    <% if (item.isFold) { %>
                        <li href="<%= item.dir %>/" name="<%= item.foldName %>">
                            <div style="width:50%"><i class="glyphicon glyphicon-folder-close"></i><span><%= item.foldName %></span><input class="default" type="text" value="<%= item.foldName %>"></div>
                    <% }else{ %>
                        <li href="/static<%= item.dir %>" name="<%= item.foldName %>">
                        <% if (item.type == 'JPG' || item.type == 'PNG' || item.type == 'GIF') { %>
                            <div style="width:50%"><i class="glyphicon glyphicon-picture"></i><span><%= item.foldName %></span><input class="default" type="text" value="<%= item.foldName %>"></div>
                        <% }else{ %>
                            <div style="width:50%"><i class="glyphicon glyphicon-file"></i><span><%= item.foldName %></span><input class="default" type="text" value="<%= item.foldName %>"></div>
                        <% } %>
                    <% } %>
                        <div style="width:20%"><%= item.date %></div>
                        <% if (!item.isFold) { %>
                        <div style="width:15%"><%= item.type %></div>
                        <div style="width:15%"><%= item.size %>KB</div>
                        <% } %>
                        <div style="clear:both"></div>
                    </ll>
                <!-- </li> -->
            <% }) %>
        </ul>
        <ul id="menu">
            <li>打开</li>
            <li>复制</li>
            <!-- <li class="active" id="paste">粘贴</li> -->
            <li>剪切</li>    
            <li>删除</li>
            <li>重命名</li>
        </ul>
        <ul id="bodyMenu">
            <li>
                <span>新建</span>
                <ul>
                    <li>文件夹</li>
                    <li>文本文档</li>
                </ul>
                <i class="glyphicon glyphicon-menu-right"></i>
            </li>
            <li class="active" id="paste">粘贴</li>
            <li>上传</li>
        </ul>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="delModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除文件</h4>
                </div>
                <div class="modal-body">
                    <p>确定是要删除此文件嘛？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="delForAjax()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="upModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <!-- <form action="/upload" method="POST" id="uploadForm" enctype="multipart/form-data"> -->
                        <p>文件将被上传至当前目录</p>
                        <input type="file" name="file" id="file">
                    <!-- </form> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="upForAjax()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/common/jquery-1.11.3.min.js"></script>
    <script src="/static/common/bootstrap.min.js"></script>
    <script>
        var path="/",name="";
        var copyPath = localStorage.getItem("copyPath");
        var clipPath = localStorage.getItem("clipPath");
        if(copyPath || clipPath){
            $("#paste").removeClass("active")
        }else{
            $("#paste").addClass("active")
        }
        $("body").click(function(){
            $("#menu").hide();
            $("#bodyMenu").hide();
        })
        $("body").on("contextmenu", function (e) {
            $("#menu").hide()
            $("#bodyMenu").show().css({ top: e.clientY, left: e.clientX });
            return false;
        })
        //鼠标右击
        $("#foldList").on("contextmenu", "li", function (e) {
            path = $(e.currentTarget).attr("href"); //获取到当前路径
            if (path.indexOf("/static") == -1) {
                path = "/static" + path
            }
            name = $(e.currentTarget).attr("name"); //获取到文件名
            $(this).addClass("active").siblings().removeClass("active");
            $("#bodyMenu").hide();
            $("#menu").show().css({ top: e.clientY, left: e.clientX });
            return false
        })
        //鼠标双击
        $("#foldList").on("dblclick", "li", function (e) {
            window.location.href = $(e.currentTarget).attr("href")
        })
        $("#bodyMenu li").on("click", function (e) {
            e.stopPropagation();
            var tex = $(e.target).text();
            if (tex == "新建") {
                return false;
            } else if (tex == "上传") {
                $('#upModal').modal('toggle');
            } else if (tex == "粘贴") {
                if(copyPath){
                    pasteForAjax(function(){
                        localStorage.removeItem("copyPath");
                    });
                }else if(clipPath){
                    clipForAjax(function(){
                        localStorage.removeItem("clipPath");
                    });
                }else{
                    return;
                }
            } else if (tex == "文件夹") {
                addFoleForAjax(1,function(){});
            } else if (tex == "文本文档") {
                addFoleForAjax(0,function(){});
            }
            $("#bodyMenu").hide();
        })
        //菜单选择
        $("#menu li").on("click", function (e) {
            var tex = $(e.target).text();
            if (tex == "打开") {
                window.open(path)
            } else if (tex == "复制") {
                localStorage.setItem("copyPath",path);
                localStorage.removeItem("clipPath");
                window.location.reload() 
            } else if (tex == "剪切") {
                localStorage.removeItem("copyPath");
                localStorage.setItem("clipPath",path)
                window.location.reload() 
            } else if (tex == "删除") {
                $('#delModal').modal('toggle')
            } else if (tex == "重命名") {
                var actInput = $("#foldList .active").find("input");
                actInput.show().focus().prev().hide();
                actInput.blur(function(){
                    var newPath = path.replace(name,actInput.val());
                    renameForAjax(newPath)
                });
            }
            $("#menu").hide();
        })
        function renameForAjax(newPath){
            $.get("/rename",{oldPath:escape(path),newPath:escape(newPath)},function(data){
                if(data.code != 1){
                    alert(data.code)
                }
                window.location.reload() 
            })
        }
        function delForAjax(){
            $.get("/deldir",{path:escape(path),name:escape(name)},function(data){
                if(data.code != 1){
                    alert(data.code)
                }
                window.location.reload() 
            })
            $('#delModal').modal('toggle')
        }
        function pasteForAjax(callback){
            $.get("/paste",{copyPath:escape(copyPath),pasteDir:escape(decodeURI(location.pathname))},function(data){
                if(data.code != 1){
                    alert(data.code)
                }else{
                    callback()
                }
                window.location.reload() 
            })
        }
        function clipForAjax(callback){
            $.get("/clip",{clipPath:escape(clipPath),pasteDir:escape(decodeURI(location.pathname))},function(data){
                if(data.code != 1){
                    alert(data.code)
                }else{
                    callback()
                }
                window.location.reload() 
            })
        }
        function addFoleForAjax(code){
            $.get("/addFold",{code:code,pasteDir:escape(decodeURI(location.pathname))},function(data){
                if(data.code != 1){
                    alert(data.code);
                }
                window.location.reload() 
            })
        }
        function upForAjax(){
            var files = $("#file")[0].files;
            var formData = new FormData(); 
            formData.append("file", files[0]); 
            formData.append("pasteDir", escape(decodeURI(location.pathname))); 

            $.ajax({
                type: 'POST',
                url: "/upload",
                data:formData,
                processData: false,   // jQuery不要去处理发送的数据
                contentType: false,   // jQuery不要去设置Content-Type请求头
                success: function(data){
                    if(data.code != 1){
                        alert(data.code)
                    }
                    window.location.reload() 
                }
            });
        }
    </script>
</body>

</html>